@import '../home/home.component.scss';

 
.shadow {
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15) !important;
            box-shadow: 0 0 3px rgba(60, 72, 88, 0.15) !important;
  }

  .card .card-body {
    padding: 1.5rem;
  }



  .pricing-rates {
    position: relative;
    z-index: 1;
    border-bottom: 3px solid #adb5bd !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .pricing-rates .price {
    font-weight: 400;
  }
  
  .pricing-rates.business-rate:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    z-index: 2;
    border-color: #2f55d4 !important;
    -webkit-box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
            box-shadow: 0 5px 13px rgba(60, 72, 88, 0.2) !important;
    background-color: #ffffff !important;
  }
  
  .pricing-rates.business-rate:hover .title {
    color: #2f55d4;
  }
  
  .pricing-rates.starter-plan {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    z-index: 2;
    border-color: #2f55d4 !important;
  }
  
  @media (max-width: 767px) {
    .pricing-rates.starter-plan {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .pricing-rates.best-plan:hover {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }


//   Ribbon


.ribbon.ribbon-primary span {
    background-color: #2f55d4 !important;
  }
  
  .ribbon.ribbon-primary span:before {
    border-left-color: #2443ac;
    border-top-color: #2443ac;
  }
  
  .ribbon.ribbon-primary span:after {
    border-right-color: #2443ac;
    border-top-color: #2443ac;
  }
  
  .ribbon.ribbon-secondary span {
    background-color: #5a6d90 !important;
  }
  
  .ribbon.ribbon-secondary span:before {
    border-left-color: #465571;
    border-top-color: #465571;
  }
  
  .ribbon.ribbon-secondary span:after {
    border-right-color: #465571;
    border-top-color: #465571;
  }
  
  .ribbon.ribbon-success span {
    background-color: #2eca8b !important;
  }
  
  .ribbon.ribbon-success span:before {
    border-left-color: #25a06e;
    border-top-color: #25a06e;
  }
  
  .ribbon.ribbon-success span:after {
    border-right-color: #25a06e;
    border-top-color: #25a06e;
  }
  
  .ribbon.ribbon-warning span {
    background-color: #f17425 !important;
  }
  
  .ribbon.ribbon-warning span:before {
    border-left-color: #d55b0e;
    border-top-color: #d55b0e;
  }
  
  .ribbon.ribbon-warning span:after {
    border-right-color: #d55b0e;
    border-top-color: #d55b0e;
  }
  
  .ribbon.ribbon-info span {
    background-color: #17a2b8 !important;
  }
  
  .ribbon.ribbon-info span:before {
    border-left-color: #117a8b;
    border-top-color: #117a8b;
  }
  
  .ribbon.ribbon-info span:after {
    border-right-color: #117a8b;
    border-top-color: #117a8b;
  }
  
  .ribbon.ribbon-danger span {
    background-color: #e43f52 !important;
  }
  
  .ribbon.ribbon-danger span:before {
    border-left-color: #d21e32;
    border-top-color: #d21e32;
  }
  
  .ribbon.ribbon-danger span:after {
    border-right-color: #d21e32;
    border-top-color: #d21e32;
  }
  
  .ribbon.ribbon-dark span {
    background-color: #3c4858 !important;
  }
  
  .ribbon.ribbon-dark span:before {
    border-left-color: #272f3a;
    border-top-color: #272f3a;
  }
  
  .ribbon.ribbon-dark span:after {
    border-right-color: #272f3a;
    border-top-color: #272f3a;
  }
  
  .ribbon.ribbon-muted span {
    background-color: #8492a6 !important;
  }
  
  .ribbon.ribbon-muted span:before {
    border-left-color: #68788f;
    border-top-color: #68788f;
  }
  
  .ribbon.ribbon-muted span:after {
    border-right-color: #68788f;
    border-top-color: #68788f;
  }
  
  .ribbon.ribbon-light span {
    background-color: #f8f9fc !important;
  }
  
  .ribbon.ribbon-light span:before {
    border-left-color: #d4daed;
    border-top-color: #d4daed;
  }
  
  .ribbon.ribbon-light span:after {
    border-right-color: #d4daed;
    border-top-color: #d4daed;
  }
  
  .ribbon.ribbon-blue span {
    background-color: #2f55d4 !important;
  }
  
  .ribbon.ribbon-blue span:before {
    border-left-color: #2443ac;
    border-top-color: #2443ac;
  }
  
  .ribbon.ribbon-blue span:after {
    border-right-color: #2443ac;
    border-top-color: #2443ac;
  }
  
  .ribbon.ribbon-footer span {
    background-color: #202942 !important;
  }
  
  .ribbon.ribbon-footer span:before {
    border-left-color: #0f131f;
    border-top-color: #0f131f;
  }
  
  .ribbon.ribbon-footer span:after {
    border-right-color: #0f131f;
    border-top-color: #0f131f;
  }
  
  .ribbon {
    position: absolute;
    top: -5px;
    width: 75px;
    height: 75px;
    z-index: 2;
  }
  
  .ribbon.ribbon-right {
    right: -5px;
  }
  
  .ribbon.ribbon-right span {
    right: -21px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .ribbon.ribbon-left {
    left: -5px;
  }
  
  .ribbon.ribbon-left span {
    left: -21px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .ribbon span {
    position: absolute;
    top: 19px;
    width: 100px;
    color: #ffffff;
  }
  
  .ribbon span:before, .ribbon span:after {
    content: "";
    position: absolute;
    top: 100%;
    z-index: -1;
    border: 3px solid transparent;
  }
  
  .ribbon span:before {
    left: 0;
  }
  
  .ribbon span:after {
    right: 0;
  }

//   End Ribbon

// .media {
//     position: relative;
//     i {
//         position: absolute;
//         left: -4%;
//         top: 6%;
//     }
// }

.question-sec {
  position: relative;
    i {
        position: absolute;
        left: -4%;
        top: 4%;
    }
}

@media (max-width: 578px) {
  .media-body {
    padding: 20px;
  }

  .question-sec {
    position: relative;
      i {
          position: absolute;
          left: -2%;
          top: 11%;
      }
  }
}

.modal-dialog {
  .modal-body {
    .country-select {
      width: 100%;
    }
  }
  
}

.modal-footer {
  .firstStep {
    width: 100%;
    button {
      width: 100%;
    }
  }
  .secondStep {
    button {
      margin-left: 10px;
    }
  }
}

.modal-body {

  .position-relative {
    i {
      position: absolute;
      margin: 2.5% 0 0 4%;
    }
  }
}

@media (max-width: 450px) {
  .modal-body {
    .position-relative {
      i {
        margin-top: 4%;
      }
    }
  }
  
}
// @media (max-width: 500px) {
//   .position-relative {
//     i {
//       margin: 4% 0 0 7%;
//     }
//   }
// }
