
.faq-container .question {
    font-size: 20px;
  }
  
  .faq-content .card .faq .card-header {
    padding-right: 40px !important;
  }
  
  .faq-content .card a.faq[data-toggle=collapse] {
    background-color: #ffffff;
    color: #2f55d4;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .faq-content .card a.faq[data-toggle=collapse]:before {
    content: '\F0143';
    display: block;
    font-family: 'Material Design Icons';
    font-size: 18px;
    color: #2f55d4;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  .faq-content .card a.faq[data-toggle=collapse].collapsed {
    background-color: #ffffff;
    color: #3c4858 !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .faq-content .card a.faq[data-toggle=collapse].collapsed:before {
    top: 15px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    color: #3c4858 !important;
  }
  