@import '../comming-soon//comming-soon.component.scss';



#clock {
    color: #ffffff;
  }
  
  #clock p {
    width: 80px;
  }
  
  #clock p span {
    font-size: 40px;
  }
  
  #clock p span.indicator {
    font-size: 18px;
  }
  