@import '../error/error.component.scss';

.bg-home {
    height: 100vh;
    background-size: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    position: relative;
    background-position: center center;
  }
  
  .bg-soft-primary {
    background-color: rgba(47, 85, 212, 0.1) !important;
    border: 1px solid rgba(47, 85, 212, 0.1) !important;
    color: #2f55d4 !important;
  }